<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Communte LA</title>
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-animation/dist/font-awesome-animation.min.css">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/loader.css" rel="stylesheet">
    <link href="css/welcome.css" rel="stylesheet">

  </head>
  <body ng-app="app">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top animate" ng-controller="navController">
        <div class="container navbar-more visible-xs"></div>
        <div class="container">
          <div class="navbar-header hidden-xs">
            <a class="navbar-brand" href="#!/account/{{ currentUser }}">Commute LA</a>
          </div>

          <ul class="nav navbar-nav navbar-right mobile-bar">
            <nav-bar name='Home' href="#" icon="home" ng-model='loggedIn'></nav-bar>
            <nav-bar ng-if="loggedIn === true" name='Commute' href="#!/account/{{ currentUser }}" icon="bus"></nav-bar>
            <nav-bar ng-if="loggedIn === true" name='Log Out' href="#" icon="user" ng-click="logoutUser()"></nav-bar>
            <nav-bar ng-if="loggedIn === true" name='Settings' href="#" icon="cog"></nav-bar>
            <nav-bar ng-if="loggedIn === false" name='Log In' href="#!/login" icon="user"></nav-bar>
            <nav-bar ng-if="loggedIn === false" name='Sign Up' href="#!/signup" icon="user"></nav-bar>
          </ul>
        </div>
      </nav>
      <div id="particles-js"></div>

      <div class ="row">
        <div class="animate" ng-view></div>
      </div>
    </div>

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/long/dist/long.js"></script>
    <script src="vendor/bytebuffer/dist/bytebuffer.js"></script>
    <script src="vendor/protobuf/dist/protobuf.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="js/services/lb-services.js"></script>
    <script src="vendor/moment/moment.js"></script>
    <script src="vendor/angular-moment/angular-moment.js"></script>
    <script src="vendor/particles.js/particles.js"></script>
    <script src="js/app.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="js/controllers/navController.js"></script>
    <script src="js/controllers/homecontroller.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/signUpController.js"></script>
    <script src="js/controllers/accountProfileController.js"></script>
    <script src="js/controllers/addRouteController.js"></script>
    <script src="js/controllers/busDelayController.js"></script>
    <script src="js/directives/navBar.directive.js"></script>
  </body>
</html>
