<div class="col-md-12 col-md-offset-4">
  <!-- ng-hide if there is no saved route in the database -->
  <!-- ng repeat icons for each of the saved routes but give them different colors -->
    <a href="#!/account/{{ currentUser }}/route/{{ route }}" ng-repeat="route in routes" value="{{ route }}" class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-stack-1x fa-inverse">{{ route }}</i>
    </a>
    <a href="#!/account/{{ currentUser }}/add" class="fa-stack fa-5x faa-bounce animated-hover">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
    </a>
</div>
