<div class="col-md-12 col-md-offset-4">
  <form ng-submit="addRoute()" class="form">
    <div class="col-md-4">
      <h3>Add Route</h3>
      <div class="form-group">
        <div>Bus</div>
        <select class="form-control" ng-model="selectedRoute" ng-change="changeRoute()">
          <option ng-repeat="route in routes track by $index" value="{{ route }}">{{ route }}</option>
        </select>
        <div>Direction</div>
        <select class="form-control" ng-model="selectedDirection" ng-change="changeDirection()">
          <option ng-repeat="direction in directions" value="{{ direction }}">{{ direction }}</option>
        </select>
        <div>Stops</div>
        <select class="form-control" ng-model="selectedStop" ng-change="changeStop()">
          <option ng-repeat="stop in stops track by $index" value="{{ stop }}">{{ stop }}</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled='selectedDirection == "" || selectedStop == ""'>Save</button>
      </div>
      <span class="alert alert-danger" ng-if='error != ""'>{{ error }}</span>
    </div>
  </form>
</div>
