<div class="col-md-12">
  <h3>Login</h3>
  <form ng-submit="loginUser()" class="form" name="login">
    <div class="col-md-4">
      <div class="form-group">
        <input type="email" name="email" class="form-control" ng-model="email" placeholder="email" required=""/>
        <div class="alert alert-danger" ng-show="login.email.$touched && login.email.$invalid">Please enter valid email.</div>
      </div>

      <div class="form-group">
        <input type="password" name="password" class="form-control" ng-model="password" placeholder="password" required=""/>
        <div class="alert alert-danger" ng-show="login.password.$touched && login.password.$invalid">Password required.</div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-disabled="login.$invalid">Login</button>
        <span class="text-danger">{{ error }}</span>
      </div>

    </div>
  </form>
</div>
