<div class="col-md-12 col-md-offset-4">
  <form ng-submit="signUpUser()" class="form" name="signUp">
    <div class="col-md-4">
      <h3>Sign Up</h3>
      <div class="form-group">
        <input type="email" name="email" class="form-control" ng-model="email" placeholder="email" required="">
        <div class="alert alert-danger" ng-show="signUp.email.$touched && signUp.email.$invalid">Please enter valid email.</div>
      </div>

      <div class="form-group">
        <input type="password" name="password" class="form-control" ng-model="password" placeholder="password" required=""/>
        <div class="alert alert-danger" ng-show="signUp.password.$touched && signUp.password.$invalid">Password required.</div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-disabled="signUp.$invalid">Sign Up</button>
        <span class="text-danger">{{ error }}</span>
        <span class="text-danger">{{ token }}</span>
      </div>

    </div>
  </form>
</div>
